@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro);
nav {
  font-family: 'Source Sans Pro', sans-serif;
  background: #E65100;
  color: white;
  display: flex;
  flex-direction: column;
}
nav > div {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
nav h1 {
  padding-left: 24px;
  margin: 0;
}
nav a {
  color: white;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 900;
  flex-shrink: 0;
}
nav a:hover {
  text-decoration: none;
  color: inherit;
}
nav a:focus {
  color: inherit;
}
nav p {
  margin: 0;
  font-size: 20px;
  font-weight: 900;
  flex-grow: 1;
  padding: 0 24px;
}
#search {
  border: none;
  width: 80%;
  margin: 8px auto;
  border-radius: 2px;
}
nav ul {
  list-style: none;
  flex-shrink: 0;
  margin: 0;
  padding: 0;
}
nav li {
  display: inline-block;
}
nav li a {
  padding: 16px;
  display: block;
}
nav li a:hover {
  background: #FFB74D;
}
nav li:last-child {
  padding-right: 16px;
}
@media (max-width: 730px) {
  nav {
    text-align: center;
  }
}
@media (max-width: 1010px) {

  nav h1,
  nav ul {
    margin: 0 auto;
  }
}

#keywords > p {
  margin-top: 30px;
}
.keyword {
  display: inline-block;
  margin: 8px;
}
.badge {
  margin-left: 4px;
}
.keyword:hover {
  text-decoration: underline;
  cursor: pointer;
}
#results {
  margin-top: 40px;
  margin-bottom: 100px;
}
.entry {
  padding: 20px 10px;
  border-bottom: 1px solid #E0E0E0;
}
.entry:last-child {
  border-bottom: none;
}
.entry .left-column {
  display: table-cell;
  width: 100%;
}
.entry .right-column {
  display: table-cell;
  text-align: right;
  vertical-align: middle;
}
.entry h3 {
  margin-top: 10px;
  margin-bottom: 10px;
}
.entry a.btn {
  margin: 4px;
}
.entry-keyword {
  color: #757575;
  padding: 4px 8px;
}
.entry-keyword > .glyphicon {
  margin-right: 4px;
}
